* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(/images/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 뷰포트 하이트 : 실제 보이는 영역의 정중앙 */
}
button {
    background-color: #ccc;
    font-size: 1.2em;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #fff;
}
button:active {
    position: relative;
    background-color: #999;
    left: 2px;
    top: 2px;
}