.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}
.grid-box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: crimson;
}

.grid-box2 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: blueviolet;
}
.grid-box3 {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: yellowgreen;
}

.grid-box4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: royalblue;
}