body {
    background: url(/images/미디어쿼리/bg0.jpg) no-repeat fixed;
    background-size: cover; /* 화면을 여백없이 다 채움 */
}

@media screen and (max-width: 1024px) {
    body {
        background: url(/images/미디어쿼리/bg1.jpg) no-repeat fixed;
        background-size: cover;
    }
}

@media screen and (max-width: 768px) {
    body {
        background: url(/images/미디어쿼리/bg2.jpg) no-repeat fixed;
        background-size: cover;
    }
}

/* 320px은 개발자모드 켜고 해보기 */
@media screen and (max-width: 320px) {
    body {
        background: url(/images/미디어쿼리/bg3.jpg) no-repeat fixed;
        background-size: cover;
    }
}

