h1 {
    color: brown;
    font-size: 30;
    text-shadow: 1px 1px 3px lightpink;
}
h2 {
    color: blue;
    font-size: 24px;
    text-shadow: 1px 1px 3px lightblue;
}
li {
    color: green;
    font-size: 15px;
}
table, th, td {
    border: 1px solid black ;
    border-collapse: collapse;
    padding: 5px;
}
#container {
    width: 600px;
    margin: 0 auto; /* 중앙 정렬 */
}
